@import "tailwindcss";

@theme {
  --color-primary-light: rgb(245, 148, 148);
  --color-primary-default: rgb(255, 81, 81);
  --color-primary-medium: #fa3c3c;
  --color-primary-dark: rgb(248, 47, 47);
  --color-primary-extradark: #e7000b;
}
