*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.full-screen{
    width: 100vw;
    height: 100vh;
}

.font-family{
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.flex{
    display: flex;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-blue{
    background-color: blue;
}

.my-10{
    margin: 40px 0;
}

.py-8{
    padding-top: 8px;
    padding-bottom: 8px;
}


.px-10{
    padding-left: 10px;
    padding-right: 10px;
}

.w-50{
    width: 50%;
}

.w-80{
    width: 80%;
}

.h-50{
    height: 50%;
}

.w-100{
    width: 100%;
}

.h-100{
    height: 100%;
}

.text-blue{
    color: blue;
}

.text-white{
    color: white;
}

.text-60{
    font-size: 55px;
}

.gap-10{
    gap: 10px;
}

.text-gray{
    color: gray;
}

.line-height{
    line-height: 1;
}
